{% extends "default.html" %} {% block content %}
<div class="container" style="margin-top: 30px;filter: blur(0px);">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% include "swiper.html" %}
        </div>
        <button class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center" type="submit">Добавить<br></button>
    </form>
</div>

<div class="container">
    <span class="text-center d-block">Табачок</span>
    <div class="table-responsive text-left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Марка</th>
                    <th>Название</th>
                    <th>Крепость</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for tabac in tabaccos|dictsort:"name" %}
                <tr>
                    <td>{{ tabac.brand }}</td>
                    <td>{{ tabac.name }}</td>
                    <td>{{ tabac.strength }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="hidden" name="input-name" value="taste-{{ tabac.id }}">
                            <input class="form-control" type="hidden" name="input-brand" value="{{ tabac.brand }}">
                            <input class="form-control" type="hidden" name="input-type" value="edit">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-edit"></i>
                            </button>
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="hidden" name="input-name" value="taste-{{ tabac.id }}">
                            <input class="form-control" type="hidden" name="input-brand" value="{{ tabac.brand }}">
                            <input class="form-control" type="hidden" name="input-type" value="delete">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-close"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}