{% extends "base.html" %} {% block base_content %}
<div class="container" style="width: 800px;height: 100px;">
    <div class="simple-slider" style="background-color:rgb(255, 255, 255);">
        <div class="swiper-container-v">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);">gbf</div> -->

                {% for element in recepies %}
                <div class="swiper-slide" style="padding: 100px;">

                    <ul class="list-group">
                        {% for tabac in element.tabaccos %}
                        <li class="list-group-item {{ tabac.have }}"><span>{{ tabac.taste }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}

            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
        </div>
    </div>
</div>
<div class="container" style="width: 800px;height: 100px;background-color:blue">
</div>
{% endblock base_content %}