{% extends "base.html" %}
{% block content %}

{% regroup tabaccos by mark as marks %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                        type="button">Марка табака</button>
                    <div role="menu" class="dropdown-menu">
                        {% for mark in marks %}
                        <button type="button" role="presentation" class="dropdown-item d-inline" name="mark-dropdown"
                            onclick="changeMark(true, this)">{{ mark.grouper }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="input-group-prepend"><span class="input-group-text">Марка<br></span></div><input
                    class="form-control" type="text" id="input-mark" autocomplete="on" onchange="changeMark(false)">
                <div class="input-group-append"></div>
            </div>

            <div class="input-group">
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
                        type="button">Вкус табака</button>
                    <div role="menu" class="dropdown-menu">
                        {% for mark in marks %}
                        <div role="presentation" name="taste-dropdown-sup-{{ mark.grouper }}" class="dropdown-divider d-inline"></div>
                        <h6 class="dropdown-header d-inline" name="taste-dropdown-sup-{{ mark.grouper }}" role="presentation">{{ mark.grouper }}</h6>
                        {% for m in mark.list %}
                        <button onclick="changeTaste(true, this)" type="button"  role="presentation" class="dropdown-item d-inline"
                            name="taste-dropdown-{{ mark.grouper }}">{{ m.taste }}</button>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="input-group-prepend"><span class="input-group-text">Вкус<br></span></div><input
                    class="form-control" type="text" id="input-taste" required="" autocomplete="on" onchange="changeTaste(false)">
                <div class="input-group-append"></div>
            </div>

            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Вес<br></span></div><input
                    class="form-control" type="text" inputmode="numeric" name="mass" value="50"
                    onchange="changeMass('mass')">
                <div class="input-group-append"></div>
            </div>

            <input type="range" class="border-success custom-range" name="mass-range" value="50" min="10" max="500"
                step="10" onchange="changeMass('mass-range')" onmousemove="changeMass('mass-range')" />
        </div>
        <button class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center"
            type="submit">Добавить<br></button>
    </form>
</div>
<div class="container">
    <span class="text-center d-block">Табачок</span>
    <div class="table-responsive text-left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Вкус</th>
                    <th>Марка</th>
                    <th>Масса</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for tabac in tabaccos %}
                <tr>
                    <td>{{ tabac.taste }}</td>
                    <td>{{ tabac.mark }}</td>
                    <td>{{ tabac.mass }}</td>
                    <td><i class="fa fa-edit"></i></i></td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="hidden" name="taste" value="{{ tabac.taste }}">
                            <input class="form-control" type="hidden" name="mark" value="{{ tabac.mark }}">
                            <input class="form-control" type="hidden" name="type" value="delete">
                            <button
                                class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center"
                                type="submit">
                                <i class="fa fa-close"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}