{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Вкус<br></span></div><input class="form-control" type="text" name="taste" required="" autocomplete="on">
                <div class="input-group-append"></div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Марка<br></span></div><input class="form-control" type="text" name="mark" autocomplete="on">
                <div class="input-group-append"></div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Вес<br></span></div><input class="form-control" type="text" inputmode="numeric" name="mass" value="50">
                <div class="input-group-append"></div>
            </div>
        </div>
        <button class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center" type="submit">Добавить<br></button>
        </form>
    </div>
    <div class="container">
        <span class="text-center d-block">Табачок</span>
        <div class="table-responsive text-left">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Вкус</th>
                        <th>Марка</th>
                        <th>Масса</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tabac in tabaccos %}
                    <tr>
                        <td>{{ tabac.taste }}</td>
                        <td>{{ tabac.mark }}</td>
                        <td>{{ tabac.mass }}</td>
                        <td><i class="fa fa-edit"></i></i></td>
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                            <input class="form-control" type="hidden" name="taste" value="{{ tabac.taste }}">
                            <input class="form-control" type="hidden" name="mark" value="{{ tabac.mark }}">
                            <input class="form-control" type="hidden" name="type" value="delete">
                            <button class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center" type="submit">
                                <i class="fa fa-close"></i>
                            </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock content %}