<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hoohkah: add new</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static "assets/js/script.min.js" %}"></script>    
</head>

<body>
    <div class="container" style="width: 950px;height: 181px;padding: 0;padding-top: 60px;">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Вкус<br></span></div><input class="form-control" type="text" name="taste" required="" autocomplete="on">
                <div class="input-group-append"></div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Марка<br></span></div><input class="form-control" type="text" name="mark" autocomplete="on">
                <div class="input-group-append"></div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Вес<br></span></div><input class="form-control" type="text" inputmode="numeric" name="mass" value="50">
                <div class="input-group-append"></div>
            </div><button class="btn btn-primary border rounded shadow d-xl-flex mx-auto align-items-xl-center" type="button" style="padding: 20px;margin: 0px;padding-right: 300px;padding-left: 300px;margin-top: 10px;margin-bottom: 10px;">Добавить<br></button></div>
    </div>
    <div class="container" style="padding: 90px;"><span>Табачки</span>
        <div class="table-responsive text-left">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Вкус</th>
                        <th>Марка</th>
                        <th>Масса</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tabac in tabaccos %}
                    <tr>
                        <td>{{ tabac.taste }}</td>
                        <td>{{ tabac.mark }}</td>
                        <td>{{ tabac.mass }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>